#buttonContainer {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#addBooks {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

#inputContainerBooks,
#inputContainerEBooks {
  display: flex;
  flex-direction: column;
}
#inputContainerBooks h2,
#inputContainerEBooks h2 {
  text-align: center;
}
